<h1>About</h1>
<p><strong>介绍</strong></p>
<p>这是一个短链接生成和管理项目，</p>
<p>项目的由来是我对于前端的探索和认识（<s>一直以来我都更擅长后端</s>），这里将记录我的学习历程和学习笔记，欢迎大家指出可能潜在的问题😊</p>
<p><strong>开发计划</strong></p>
<p>第一阶段：短链接生成及管理系统</p>
<ol>
    <li>完成一个能实现基本功能的短链接生成和管理功能（已完成）</li>
    <li>完成短链接生成的用户系统</li>
    <li>完成短链接生成后台管理系统</li>
</ol>
<p>第二阶段：个人资源分享及管理普通</p>
<ul>
    <li>可以分享多种类型的资源</li>
    <li>针对资源的高级门槛设置</li>
    <li>完全的个人资源管理平台（长期的）</li>
</ul>
<p><strong>技术栈</strong></p>
<p>后端：PHP+MySQL</p>
<p>前端：DMUI+HTML+JavaScript+CSS </p>
<p>（可能会因为后期需要使用过的框架或组件）</p>
<p><strong>适配目标</strong></p>
<p>浏览器：使用Chromium内核的浏览器</p>
<p>尽可能使用更新的api，<s>意味着可能不会像向下兼容老旧的浏览器</s></p>
<p>平台：pc+移动端</p>
<p>系统：Windows，Linux，Andorid （意味着不会针对其他系统特性做优化，<s>可能是因为没有对应的设备</s>）</p>
<p><strong>截图</strong></p>
<a href="https://imgse.com/i/piUV6OJ"><img src="https://z1.ax1x.com/2023/11/19/piUV6OJ.png" alt="piUV6OJ.png"></a>
<a href="https://imgse.com/i/piUVgm9"><img src="https://z1.ax1x.com/2023/11/19/piUVgm9.png" alt="piUVgm9.png"></a>
<p class="has-text-align-center has-contrast-3-color has-text-color has-link-color has-small-font-size">（尚未完成）</p>
<p><strong>最后</strong></p>
<p>请不要将该项目用于线上模式或者试图运营该项目，因为该项目尚未成熟，可能存在严重的安全问题。同时也不应该将该项目用于任何商业用途，包括但不限于贩卖，或者用于公司运营。</p>
<p>该项目仅能用于学习和交流，同时请遵循GPT开源协议</p>