<h1>DDMT add</h1>
<p>输入原始链接：</p>
<mdui-text-field class="example-text" prefix="" label="url"><mdui-button-icon id="content_paste" icon="content_paste"
        slot="end-icon"></mdui-button-icon></mdui-text-field>
        <mdui-checkbox id="checkbox_row">多行批量添加</mdui-checkbox>
<mdui-text-field readonly id="newurl" value="newurl" style="display:none;"><mdui-button-icon id="content_copy" icon="content_copy"
        slot="end-icon"></mdui-button-icon></mdui-text-field>
        
<p></p>
<mdui-button full-width onclick="add_url();"><mdui-icon name='add_link'></mdui-icon>add</mdui-button>
<mdui-snackbar class="example-snackbar">Photo archived</mdui-snackbar>
<script>
    const snackbar = document.querySelector(".example-snackbar");
    const urlprint = document.querySelector("mdui-text-field[id='newurl']");
    const checkbox_row = document.getElementById("checkbox_row");
    const urlInput = document.querySelector("mdui-text-field");
    const content_paste = document.getElementById("content_paste");
    const content_copy = document.getElementById("content_copy");
    const cut = navigator.clipboard;

    function snackbar_tip(text) {
        snackbar.innerText = text;
        snackbar.open = true;
    } 

    function cut_writetext(text) {
        if (cut == null) {
            snackbar_tip("该浏览器不支持写入剪辑版，推荐使用Chrome");
        } else {
            if (cut.writeText(text)) {
                snackbar_tip("已复制到剪辑版");
            } else {
                snackbar_tip("无法完整复制");
            }
        }
    }

    content_copy.addEventListener("click",()=>{
        cut_writetext(urlprint.PromiseResult);
    });
    content_paste.addEventListener("click",()=>{
        var getcut = false; //如果用户犹豫会附上贴心小提示，或许会有更好的办法
        cut.readText().then(function(result) {
            urlInput.value = result;
            getcut = true;
        }).catch(function(error) {
            if(error.name === "NotAllowedError"){snackbar_tip("最后，还是被你拒绝了吗？😿");}else{snackbar_tip(error.message);}
            getcut = true;
        });
        setTimeout(()=>{
            if(getcut === false){
                snackbar_tip("你无需担心，大可以直接允许，因为该权限仅用于快捷粘贴。");
            }
        },"500");
    });
    checkbox_row.addEventListener("change",(even)=>{
        // console.log("开关按下");
        // console.log(switch_row.checked);
        if(checkbox_row.checked){
            urlInput.setAttribute('rows', '5'); //允许五行解析
        }else{
            urlInput.removeAttribute('rows');
        }
    });

    function add_url() {
        var submitbutton = document.querySelector("mdui-button");
        var url = urlInput.value;
        submitbutton.loading = true;
        console.log(submitbutton.loading);        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/?mod=add&url_orange=" + encodeURIComponent(url), true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                // 请求成功
                var response = JSON.parse(xhr.responseText);
                var code = response.code;
                var newUrl = response.newurl;
                var msg = response.msg;                console.log("code: " + code);
                console.log("newUrl: " + newUrl);
                console.log("msg: " + msg);
                if (code == 1) {
                    urlprint.value = newUrl;
                    urlprint.style.display = "block";
                    snackbar_tip(msg);
                } else {
                    urlprint.style.display = "none";
                    snackbar_tip(msg);
                }
            } else {
                if (xhr.readyState >= 4 && xhr.status != 200) {
                    snackbar_tip(请求失败);
                }
            }
        };
        submitbutton.loading = false;
        xhr.send();
    }
</script>